<?xml version="1.0" encoding="UTF-8"?>
<config>
	//一体机配置
	<devicePort>8000</devicePort>
	<deviceName>admin</deviceName>
	<devicePass>hik12345</devicePass>
	//数据库配置
	<dataBaseIp>localhost</dataBaseIp>
	<dataBasePort>1433</dataBasePort>
	<dataBaseName>dyw</dataBaseName>
	<dataBasePass>hik12345</dataBasePass>
	<dataBaseLib>EntranceGuard</dataBaseLib>
	//队列配置
	<queueIp>127.0.0.1</queueIp>
	//socket配置
	<socketPort>12345</socketPort>
</config>