<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "config/mybatis-3-mapper.dtd">
<mapper namespace="mapping.equipmentMapper">
    <!--卡号查询单个人员-->
    <select id="getOneEquipment" parameterType="String" resultType="com.dyw.queue.entity.StaffEntity">
        select * from Staff where CardNumber=#{GroupId}
    </select>
    <!--查询所有人员-->

    <resultMap type="com.dyw.queue.entity.EquipmentEntity" id="EquipmentList">
        <result property="Name" column="Name"/>
        <result property="IP" column="IP"/>
    </resultMap>

    <select id="getAllEquipment" resultMap="EquipmentList">
        select Name,IP from Equipment where GroupId=#{GroupId}
    </select>


</mapper>